body {
    background-color: #e7dabf;
    font-family:'Times New Roman', Times, serif ;
}

@font-face {
    font-family: garden;
    src: url(/font/Carola.otf);
}

hr {
    background-color: #514333;
}

main {
    height: 100%;
}

nav ul {
    text-align: right;
    margin-right: 3%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #514333;
    padding: 0.25em 0.5em;
    border-radius: 5%;
    font-size: 14px;
}

nav ul li .long {
    border-radius: 5%;;
}

nav ul li a:hover {
    font-weight: 600;
}

/*adding nav element to show which nav im currently on*/

#pic {
    width: 60vh;
    height: 70vh;
    margin: 2.5em auto -1.5em;
    background-image: url(main2.jpg);
    border-radius: 50% 50% 0 0;
    opacity: 0.8;
    
}

h1 {
    position: relative;
    top: -1.75em;
    margin: auto;
    text-align: center;
    font-size: 9em;
    line-height: 0.75em;
    font-family: garden;
    color: black;
    letter-spacing: 3px;
    font-weight: 200;
}

#subtitle {
    position: relative;
    margin: auto;
    top: 25px;
    text-align: center;
    font-size: small;
    letter-spacing: 3px;
    font-style: italic;
}

.first {
    width: 35vw; /*60vw for smaller screen size*/
    height: auto;
    text-align: center;
    margin: auto;
}

.top {
    text-align: center;
}

.Ldrest, .epi {
    width: 35vw; /*60vw for smaller screen size*/
    height: auto;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}

.Rdrest {
    width: 35vw;
    text-align: end;
}

.cols2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.flower1 {
    width: 250px;
    height: auto;
    margin-bottom: 0.5em;
}

.flowerepi {
    width: 200px;
    padding: 0;
    margin: -0.7em;
}

.lflowers {
    height: 420px;
    margin: 1em auto -1em;
}

h1, .flower1, .flowerepi, .lflowers {
    animation: 4s ease-in-out infinite float;
}

@keyframes float {
    50% {
        transform: translate(0px,20px);
    }
}

@media (max-width: 720px) {
    .cols2 {
        grid-template-columns: 1fr;
    }
    .Rdrest {
        margin: auto;
    }
    .Ldrest, .epi, .first {
        width: 60vw;
    }
    .Rdrest p {
        text-align: center;
    }
    nav ul li a {
        font-size: 12px;
    }
}

@media (max-width: 520px) {
    h1 {
        font-size: 6em;
    }
    p {
        font-size: 13px;
    }
    #pic {
        width: 42vh;
        height: 50vh;
    }
    .lflowers {
        height: 300px;
        margin-left: -2.5em;
        margin-bottom: 0.3em;
    }
    .flowerepi {
        width: 180px;
    }
    .flower1 {
        width: 220px;
    }
    nav ul li a {
        font-size: 8.5px;
    }
}